@import url('https://fonts.googleapis.com/css2?family=Marvel&family=PT+Serif:ital@1&display=swap');


#nav{
    background-color: #dd9b9f;
}

.sweet {
    font-family: 'PT Serif', serif;
    
 
}

body{
    background-color: #ffccbc !important;
} 

#container{
    background-color: #c6c2d0;
    border: 2px solid grey !important; 
    height: 25rem;
}

.taille{
    margin-top: 15rem !important;
    background-color: #dd9b9f;
    font-family:  'PT Serif', serif;
    font-size: 1.3rem !important;
    height: 5rem !important;
}